#group-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#group-organizer {
  color: var(--gray);
}

.group {
  grid-template-columns: 1fr 1fr;
}

.group-join-btn {
  width: fit-content;
  border: none;
}

.group-join-btn:hover {
  border: 1px solid var(--red);
  color: var(--red);
  background-color: transparent;
}
