#lists {
  gap: 5px;
  margin-top: 20px;
}

#group-details {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#group-details-header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#group-details-header span {
  color: var(--dark-gray);
}

#group-details-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#group-details-about p {
  word-break: break-word;
  text-align: justify;
}

#events {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

#group-num-events {
  color: var(--dark-gray);
}

span.subheading {
  text-decoration: underline;
}

.venues {
  display: flex;
  align-items: center;
  height: 26px;
  gap: 10px;
  color: var(--dark-gray);
}

.venues h2 {
  text-decoration: underline;
}

.venues i {
  font-size: x-large;
  cursor: pointer;
}

.venues i:hover {
  font-size: xx-large;
}
