#group-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#group-organizer {
  color: var(--gray);
}

#back-to-group {
  align-self: flex-start;
  text-decoration: none;
  border: none;
  background-color: var(--dark-gray);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#back-to-group:hover {
  border: 1px solid var(--dark-gray);
  background-color: transparent;
  color: var(--dark-gray);
}

#groups {
  gap: 5px;
  margin-top: 20px;
}

#event-btns {
  display: flex;
  gap: 5px;
}

#event-btns button {
  border: none;
}

#event-btns button:hover {
  border: 1px solid var(--dark-gray);
  color: var(--dark-gray);
  background-color: transparent;
}

#group-details {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#group-details-header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#group-details-header span {
  color: var(--dark-gray);
}

#group-details-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#group-details-about p {
  text-shadow: var(--light-yellow) 1px 0 10px;
}

.group {
  grid-template-columns: 1fr 1fr;
}

.group-join-btn {
  width: fit-content;
  border: none;
}

.group-join-btn:hover {
  border: 1px solid var(--red);
  color: var(--red);
  background-color: transparent;
}
