#group-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#group-organizer {
  color: var(--gray);
}

#event-btns {
  display: flex;
  gap: 5px;
}

#event-btns button {
  margin-top: 20px;
  border: none;
}

#event-btns button:hover {
  border: 1px solid var(--dark-gray);
  color: var(--dark-gray);
  background-color: transparent;
}

#group-join-btn {
  border: none;
  margin-top: 10px;
}

#group-join-btn:hover {
  border: 1px solid var(--red);
  color: var(--red);
  background-color: transparent;
}

#group-join-btn.btn-accent:hover {
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: transparent;
}

.group-image img {
  width: 100%;
  height: 100%;
}

.group {
  display: grid;
  grid-template-columns: 2fr 5fr;
  border-top: 3px solid var(--light-gray);
  padding: 10px 0;
  grid-gap: 30px;
  width: 100%;
  cursor: pointer;
}

.group-name {
  font-size: 17px;
  line-break: anywhere;
}

.group-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group-location {
  color: var(--gray)
}

.group-description {
  font-style: italic;
}

.group-info {
  color: var(--gray);
  display: flex;
  align-items: center;
  gap: 5px;
}

.group-dot {
  padding: 0px 5px 8px 5px;
}

.group.details {
  grid-template-columns: 1fr 1fr;
}
