#groups-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

#group-headers {
  align-self: start;
}

#group-headers h1 {
  display: flex;
  gap: 20px;
}

#group-headers a {
  font-size: 25px;
}

#header-event {
  color: var(--gray);
  cursor: auto;
}

#header-group {
  color: var(--teal);
  text-decoration: underline;
  cursor: auto;
}

#header-event:hover {
  text-decoration: none;
}

#caption {
  align-self: start;
  padding: 20px 0;
  color: var(--gray);
}

#groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}
