#back-to-list {
  align-self: flex-start;
  text-decoration: none;
  border: none;
  background-color: var(--dark-gray);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#back-to-list:hover {
  border: 1px solid var(--dark-gray);
  background-color: transparent;
  color: var(--dark-gray);
}
