.gallery-header {
  color: var(--teal);
  padding: 20px 0;
}

.gallery-caption {
  align-self: flex-start;
  color: var(--gray);
  text-shadow: var(--light-yellow) 1px 0 10px;
  font-style: italic;
}

.group.details.gallery {
  grid-template-columns: 1fr;
}

.gallery-results-not-found {
  display: flex;
  justify-content: center;
}

.gallery-header i {
  font-size: x-large;
}

.gallery-header i:hover {
  cursor: pointer;
  font-size: xx-large;
}
