#event {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 30px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border-top: 3px solid var(--light-gray);
}

#event.event {
  grid-template-columns: 5fr 6fr;
}

#event-image img {
  width: 100%;
  height: 100%;
}

#event-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#event-time {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gray);
}

#event-dot {
  padding-bottom: 8px;
}

#event-location {
  color: var(--gray);
}

#event-text {
  display: flex;
  justify-content: center;
}

#event-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#time-wrapper {
  display: flex;
  gap: 20px;
}

#time-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--gray);
}

#event-time {
  color: var(--teal);
}

#time-icon {
  align-self: center;
  color: var(--gray);
}

#event-description {
  display: flex;
  color: var(--gray);
  gap: 20px;
  font-style: italic;
  word-break: break-word;
}

#event-info-wrapper {
  display: flex;
  gap: 17px;
  color: var(--gray);
}

#event-price-type-capacity-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#event-capacity {
  gap: 10px;
}

#event-description>div {
  font-style: normal;
}

#event-description p {
  color: var(--teal);
}

#event-line-break {
  border: 1px solid var(--light-gray);
}

#event .group.details {
  border: none;
  grid-template-columns: 1fr 2fr;
}

#event .group.details #group-text-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#event .group.details #group-text-wrapper div {
  color: var(--gray);
}

.event.details {
  grid-template-columns: 1fr 1fr;
}

.event-type.event-type.event-capacity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
