#manage-event #event-btns .btn-accent {
  flex-grow: 1;
}

#manage-event .btn-accent:hover {
  background-color: transparent;
  color: var(--gray);
  border: 1px solid var(--gray);
}

#manage-event button.btn-accent {
  border: none;
}
