:root {
  --white: #FFFFFF;
  --black: #000000;
  --gray: #808080;
  --dark-gray: #999999;
  --light-gray: #CCCCCC;
  --red: #FF5A5F;
  --teal: #00525E;
  --light-teal: #E8F0FE;
  --light-yellow: #DEC963;
  --yellow: rgb(171, 150, 2);
  --green: rgb(0, 150, 0);
  --blue: rgb(0, 150, 188);
  --brown: rgb(122, 43, 29);
  --dark-brown: rgb(110, 75, 75);
}

* {
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.heading {
  font-size: 25pt;
  font-weight: bold;
  word-break: break-word;
}

.subheading {
  font-size: 17pt;
  font-weight: bold;
  word-break: break-word;
}

button {
  padding: 10px 20px;
  text-align: center;
  background-color: var(--white);
  color: var(--black);
  border-color: var(--light-gray);
  border-radius: 5px;
}

button.disabled:hover {
  opacity: .5;
  background-color: var(--white);
  color: var(--red);
  border: 1px solid var(--red);
  cursor: not-allowed;
}

.btn-accent {
  background-color: var(--dark-gray);
  color: var(--white);
  border-color: var(--black);
}

.btn-primary {
  background-color: var(--red);
  color: var(--white);
  border-color: var(--black);
}

.btn-teal {
  background-color: var(--teal);
  color: var(--white);
  border-color: var(--black);
}

a,
button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

form h2 {
  cursor: pointer;
}

form input {
  padding: 10px;
}

form input[type="file"] {
  padding: 0;
  margin: 0;
  text-align: center;
}

form input[type="file"]::file-selector-button {
  color: var(--white);
  font-style: italic;
  font-size: 11px;
  background-color: var(--teal);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: var(--light-yellow) 1px 0 10px;
}

form select {
  padding: 10px;
}

form textarea {
  padding: 10px;
}

form .btn-primary {
  border: none;
  margin-top: 20px;
}

form .btn-primary.enabled:hover {
  background-color: transparent;
  color: var(--red);
  border: 1px solid var(--red);
}

.error-message {
  color: var(--red);
}

a {
  text-align: center;
  color: var(--teal);
}

a:hover {
  text-decoration: underline;
  font-size: 20px;
}

#search-box {
  align-self: flex-start;
  flex-grow: 1;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: var(--teal);
  color: var(--white);
  text-align: center;
  height: 25px;
}

#search-box::placeholder {
  color: var(--white);
}

#search-box:focus {
  outline: none;
}

.alert-success {
  color: teal;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}
