#lists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

#list-headers {
  align-self: start;
}

#list-headers h1 {
  display: flex;
  gap: 20px;
}

#list-headers a {
  font-size: 33px;
}

#list-headers h1 a#unselected {
  color: var(--gray);
  cursor: auto;
  text-decoration: none;
  cursor: pointer;
}

#list-headers h1 a#selected {
  color: var(--teal);
  text-decoration: underline;
  cursor: pointer;
}

#list-headers h1 a#unselected:hover {
  text-decoration: none;
}

#caption {
  align-self: start;
  padding: 20px 0;
  color: var(--gray);
}

#lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}
