#pagination-btns {
  width: 900px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 5px;
}

#pagination-btns button {
  border: none;
}

#pagination-btns button.page-prev:hover,
#pagination-btns button.page-next:hover {
  background-color: transparent;
  border: 1px solid var(--gray);
  color: var(--gray);
}

.no-results {
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 350px;
}

.subheading.no-results {
  font-size: 12pt;
}

.no-results-wrapper {
  display: flex;
  justify-content: center;
}

.input-page,
.input-size {
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
  width: 35px;
}

.input-page:focus,
.input-size:focus {
  outline: none;
}

.page-load {
  background-color: var(--white);
  color: var(--gray);
  font-style: italic;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 5px;
}

.page-load:hover {
  text-decoration: none;
  font-size: 12pt;
}
