#event-details-wrapper {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

#event-details-wrapper p {
  word-break: break-word;
  text-align: justify;
}

#event-header {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#event-header span {
  color: var(--gray)
}

.event-host-avatar>img {
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 5px;
  border-radius: 10px;
}

.event-avatar-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
